<div class="bst-cus-footer">
    <div class="container" >
        <div class="row">
            <div class="col-12 	col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="bst-info-footer">
                    <div class="title">
                        <h2>BG Bookstore</h2>
                    </div>
                    <div class="desc">
                        An English bookstore in Vietnam ♥ Nominated for LBF International Excellence Awards 2019
                    </div>
    
                    <div class="address">
                        <p><i class="bi bi-geo-alt-fill"></i>
                            Room C26, 2nd Floor, 6 Cong Truong Quoc Te (Turtle Lake), District 3, TP Hồ Chí Minh, Vietnam</p>
                        
                    </div>
                    <div class="email">
                        <a href="mailto:bgbookstore@gmail.com"><i class="bi bi-envelope-fill"></i>
                            bgbookstore@gmail.com</a>
                    </div>
                    <div class="phone">
                        <a href="tel:0911768845"><i class="bi bi-telephone-fill"></i>
                            0911768845</a>
                    </div>
                </div>
              </div>
            <div class="col-12 	col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="bst-right-footer">
                        <div class="logo-ft-wrap">
                            <a href="#" class="logo-ft"><img src="../../../../assets/images/logo.jpg" alt=""></a>
                        </div>
                        <ul class="bts-nav-footer">
                            <li><a href="">
                                About
                            </a></li>
                            <li><a href="">
                                Support/help
                            </a></li>
                            <li><a href="">
                                Contact
                            </a></li>
                        </ul>
                    
                </div>
               
            </div>
        </div>
        <div class="copyright">
            <p>© Copyright 2020 BG Bookstore All Rights Reserved |</p>
        </div>
       
    </div>
</div>
