.home-banner-container {
  background-image: url(../../../assets/images/banner-bg2.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.home-banner-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  color: #ffffff;
  height: 100vh;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
  @media screen and (max-width: 425px) {
  padding: 30px 0;
   
  }

  .banner-title {
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
    @media screen and (max-width: 1440px) {
        font-size: 60px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 50px;
        margin: 30px 0;
      }
      @media screen and (max-width: 768px) {
        font-size: 40px;
        margin: 30px 0;
      }
  }
  .desc {
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (max-width: 1440px) {
        font-size: 18px;
        width: 60%;
      }
      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
      @media screen and (max-width: 768px) {
        font-size: 14px;
        width: 80%;
       
      }
      @media screen and (max-width: 425px) {
        text-align: justify;
        width: 100%;
       
      }
  }
  .shopping-now-btn {
   
    background-color: #ff7b55;
    border: none;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.59);
    box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.59);
    transition: 0.3s;
    &:hover {
      background-color: #b7492a;
    }

    @media screen and (max-width: 768px) {
       font-size: 12px;
       
      }
      @media screen and (max-width: 768px) {
        padding: 6px 10px;
        
       }
  }
}
