<app-customer-header></app-customer-header>

<div class="home-banner-container">
  <div class="container">
    <div class="home-banner-inner">
      <h1 class="banner-title">Welcome to BG Book Store!</h1>
      <p class="desc">
        We have more than 20 million titles and free delivery worldwide to over
        170 countries. We also really, really love books. Looking for your new
        favourite book? Browse some of our top categories such as Children's
        Books, Fiction, Graphic Novels, Anime & Manga, Food & Drink books,
        Crafts & Hobbies, Art & Photography, Biography, and Crime & Thriller.
      </p>
      <button class="btn btn-primary shopping-now-btn" [routerLink]="['/customer/collection']" >Shoping now</button>
    </div>
  </div>
</div>

<app-customer-footer></app-customer-footer>
